apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: shopdeploy
  labels:
    app: shopdeploy
    component: backend
data:
  NODE_ENV: "production"
  PORT: "5000"
  JWT_ACCESS_EXPIRE: "15m"
  JWT_REFRESH_EXPIRE: "7d"
  FRONTEND_URL: "http://shopdeploy-frontend:80"
